<md-content layout-padding layout="column" layout-align="center center" layout-fill>
  <% if (errors) {%>
    <% errors.forEach(function (error) { %>
      <%= __(error) %>
    <% }) %>
  <% } %>
 
  <form role="form" action="/auth/local" method="post" flex="50">
    <div layout="column" >
      <md-input-container>
        <label>Username or Email</label>
        <input name="identifier" md-no-float>
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input type="password" name="password" md-no-float>
      </md-input-container>
    </div>
    <div layout="row">
      <button type="submit" class="md-button md-raised">Sign in</button>
      <a href="/register" class="md-button md-raised">Register</a>
    </div>
  </form>

  <% if (Object.keys(providers).length) {%>
    <h4>You can also use one of these...</h4>

    <% Object.keys(providers).forEach(function (key) { %>
      <a href="/auth/<%= providers[key].slug %>" role="button"><%= providers[key].name %></a>
    <% }) %>
  <% } %>
</md-content>