<% if (errors) {%>
  <% errors.forEach(function (error) { %>
    <%= __(error) %>
  <% }) %>
<% } %>

<form role="form" action="/auth/local/register" method="post">

    <div layout="column">
      <md-input-container>
        <label>Username</label>
        <input name="username" md-no-float>
      </md-input-container>
      <md-input-container>
        <label>Email</label>
        <input type="email" name="email" md-no-float>
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input type="password" name="password" md-no-float>
      </md-input-container>
    </div>
    <div layout="row">
      <button type="submit" class="md-button md-raised">Sign up</button>
    </div>
</form>
