<md-content>
    <md-card>
        <md-card-content>
            <h2>{{ test }} DASHBOARD</h2> 
        </md-card-content>
    </md-card>
</md-content>
<a href="/logout" class="md-button md-raised">Log out</a>
