<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rewards App Dashboard</title>
    <!-- STYLES -->
    <!-- STYLES END -->
</head>
<body>
    <md-toolbar>
        <h1>Dashboard</h1>
    </md-toolbar>
    <% body %>

    <!-- SCRIPTS -->
    <!-- SCRIPTS END -->
</body>
</html>