<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rewards App Dashboard</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/dependencies/angular-material.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
</head>
<body ng-app="dashboardApp" ng-controller="AppCtrl" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>Dashboard</span>
        </h2>
        <a href="/logout" class="md-button md-raised">
            Log out
        </a>
      </div>
    </md-toolbar>
    <%- body %>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/angular-animate.js"></script>
    <script src="/js/dependencies/angular-aria.js"></script>
    <script src="/js/dependencies/angular-material.js"></script>
    <script src="/js/app/home/homeApp.js"></script>
    <script src="/js/app/home/controllers/AppCtrl.js"></script>
    <script src="/js/app/dashboard/dashboardApp.js"></script>
    <script src="/js/app/dashboard/controllers/AppCtrl.js"></script>
    <!--SCRIPTS END-->
</body>
</html>