<md-content layout="row" layout-sm="column" layout-wrap>
    <md-card layout-padding ng-repeat="familyMember in familyMembers" layout="column" ng-click="memberClick(familyMember)">
        <img ng-src="{{ familyMember.picture }}" alt="{{ familyMember.name }}" style="width: 150px; height: 150px;"/>
        <md-card-content>
            <h3 layout-align="center">{{ familyMember.name }}</h3>
            <span>Today's progress</span>
            <md-progress-linear class="md-accent" md-mode="query" value="30"></md-progress-linear>
        </md-card-content>
    </md-card>
</md-content>