<md-content layout="row" layout-align="center">
    <md-card>
        <md-card-content>
            <h2>{{ test }}</h2> 
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-content>
            <h2>{{ test }}</h2> 
        </md-card-content>
    </md-card>
</md-content>